<section class="section-intro">
  <div class="container">
    <div class="row gx-3">
      <main class="col-lg-20">
        <article class="card-banner p-5" style="height: 350px;">
          <div class="content">
            <h2 class="text-white">Get the Best deals here</h2>
            <a href="#" class="btn">Learn more</a>
          </div>
        </article>
      </main>
    </div>
  </div>

  <section class="pt-4">
    <div class="container px-4">
      <div class="row g-4 justify-content-center">
        <div
          class="col col-lg-6 col-md-6 feature d-flex align-items-start justify-content-center"
        >
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="pt-2">
            <p>Free Shipping & Returns</p>
          </div>
        </div>
        <div
          class="col col-lg-4 col-md-6 feature d-flex align-items-start justify-content-center"
        >
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>
          <div class="pt-2">
            <p>Best Deals in Store</p>
          </div>
        </div>
        <div
          class="col col-lg-4 col-md-6 feature d-flex align-items-start justify-content-center"
        >
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="pt-2">
            <p>24/7 customer support</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-y">
    <div
      class="container"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
    >
      <header
        class="section-heading d-flex justify-content-between align-items-center"
      >
        <h4 class="section-title text-muted">Products</h4>
        <div class="row">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              style="width: 550px;"
              [(ngModel)]="listFilter"
              placeholder="Search products"
              (input)="applyFilter()"
            />
          </div>
        </div>
        <div class="filter-container d-flex align-items-center">
          <p>Sort by:</p>
          <select
            class="form-select"
            [(ngModel)]="filterValue"
            (change)="applyFilter()"
          >
            <option value="Default">Default</option>
            <option value="Low to High">Price: Low to High</option>
            <option value="High to Low">Price: High to Low</option>
            <option value="A to Z">A to Z</option>
            <option value="Z to A">Z to A</option>
          </select>
        </div>
      </header>

      <div class="row">
        <div
          class="col-6 col-sm-8 col-md-6 col-lg-2"
          style="padding: 15px 7.5px;"
          *ngFor="let product of filteredProductList"
        >
          <app-product [product]="product"></app-product>
        </div>
      </div>

      <div *ngIf="filteredProductList.length === 0" class="alert alert-warning" role="alert">
        Product not available at the moment, check sometime soon.
      </div>

      <div class="row" *ngIf="Loading">
        <div
          class="col-6 col-sm-8 col-md-6 col-lg-2"
          *ngFor="let item of items"
        >
          <ngx-skeleton-loader
            [theme]="{ 'border-radius': '0', height: '150px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="2"
            [theme]="{ 'border-radius': '0', height: '25px' }"
          ></ngx-skeleton-loader>
          <div class="d-flex align-items-center justify-content-between">
            <div class="w-50">
              <ngx-skeleton-loader
                [theme]="{ 'border-radius': '0', height: '28px' }"
              ></ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{ width: '29px', height: '29px', margin: '1px' }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
