<section class="section-intro pt-1">
    <div class="container">
      <div class="row gx-3">
        <main class="col-lg-9">
          <article class="card-banner p-5" style="height: 350px;">
            <div style="max-width: 500px">
              <h2 class="text-white">Great products with <br> best deals</h2>
              <a href="#" class="btn btn-warning">View more</a>
            </div>
          </article>
        </main>
        <aside class="col-lg-3">
          <article class="card-banner gift h-100" style="background-color: #ff8100">
            <div class="card-body text-center">
              <h5 class="mt-3 text-white">Awesome Store</h5>
              <p class="text-white">No matter how far along you are in your sophistication</p>
              <a href="#" class="btn btn-outline-light">View more</a>
            </div>
          </article>
        </aside>
      </div>
    </div>
  </section>
  
  <section class="pt-4">
    <div class="container px-4">
      <div class="row g-4">
        <div class="col col-lg-4 col-md-6 feature d-flex align-items-start justify-content-center">
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shipping-fast" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-shipping-fast fa-w-20 fa-3x">
              <path fill="#fff" d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H112C85.5 0 64 21.5 64 48v48H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H64v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z" class=""></path>
            </svg>
          </div>
          <div class="pt-2">
            <p>Free Shipping & Returns</p>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 feature d-flex align-items-start justify-content-center">
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="award" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-award fa-w-12 fa-3x">
              <path fill="#fff" d="M97.12 362.63c-8.69-8.69-4.16-6.24-25.12-11.85-9.51-2.55-17.87-7.45-25.43-13.32L1.2 448.7c-4.39 10.77 3.81 22.47 15.43 22.03l52.69-2.01L105.56 507c8 8.44 22.04 5.81 26.43-4.96l52.05-127.62c-10.84 6.04-22.87 9.58-35.31 9.58-19.5 0-37.82-7.59-51.61-21.37zM382.8 448.7l-45.37-111.24c-7.56 5.88-15.92 10.77-25.43 13.32-21.07 5.64-16.48 3.15-25.12 11.85-13.77 13.78-32.07 21.37-51.61 21.37-12.44 0-24.47-3.55-35.31-9.58L278 502.04c4.39 10.77 18.42 13.4 26.43 4.96l36.23-38.98 52.69 2.01c11.62.44 19.82-11.26 15.43-22.03zM257.14 288.07c57.2-57.2 57.2-149.85 0-207.05-57.19-57.19-149.85-57.19-207.05 0-57.19 57.19-57.19 149.85 0 207.05 57.19 57.2 149.86 57.2 207.05 0zm-103.53-33.94l33.94-95.78 33.94 95.78 95.78 33.94-95.78 33.94-33.94 95.78-33.94-95.78-95.78-33.94 95.78-33.94z" class=""></path>
            </svg>
          </div>
          <div class="pt-2">
            <p>Best Deals in Store</p>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 feature d-flex align-items-start justify-content-center">
          <div class="icon-square text-dark flex-shrink-0 me-3">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone-alt fa-w-16 fa-3x">
                <path fill="#fff" d="M497.39 361.8l-110.55-46.06c-15.92-6.64-34.01-2.38-45.99 10.15l-49.36 50.61c-46.15-24.27-89.23-67.16-112.31-112.31l50.61-49.36c12.53-11.98 16.79-30.08 10.15-45.99L150.2 14.61C142.64-4.86 119.91-4.86 112.35 14.61L5.66 252.18C-.64 267.38 1.67 285.68 12.91 296.91l110.67 110.67c11.23 11.23 29.52 13.54 44.73 6.24l137.58-66.69c19.47-9.45 39.57-19.27 59.32-28.57 35.21-16.21 71.64-38.79 105.67-63.54 15.72-11.02 16.92-33.1 2.22-45.8zm-180.38-94.63c18.75-3.1 33.98 12.12 30.87 30.87-2.11 12.68-13.79 22.47-26.58 20.31-18.75-3.1-33.98-18.32-30.87-37.07 2.11-12.68 13.79-22.47 26.58-20.31zm-48.18-128.58c3.9-7.56 1.62-16.68-5.27-20.57-8.78-4.99-20.48-1.79-25.47 7.02-3.9 7.56-1.62 16.68 5.27 20.57 8.78 4.99 20.48 1.79 25.47-7.02zm115.35-16.41c9.15-3.9 12.34-15.3 6.31-22.24-7.14-7.92-19.31-8.77-27.56-1.89-9.15 3.9-12.34 15.3-6.31 22.24 7.14 7.92 19.31 8.77 27.56 1.89z" class=""></path>
            </svg>
          </div>
          <div class="pt-2">
            <p>24/7 customer support</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="padding-y">
    <div class="container" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle">
      <header class="section-heading d-flex justify-content-between align-items-center">
        <h4 class="section-title text-muted">Products</h4>
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" style="width:550px" [(ngModel)]="listFilter" placeholder="Search products" (input)="applyFilter()" />
        </div>
        </div>
        <div class="filter-container d-flex align-items-center">
          <p>Sort by: </p>
          <select class="form-select" [(ngModel)]="filterValue" (change)="applyFilter()">
            <option value="Default">Default</option>
            <option value="Low to High">Price: Low to High</option>
            <option value="High to Low">Price: High to Low</option>
            <option value="A to Z">A to Z</option>
            <option value="Z to A">Z to A</option>
          </select>
        </div>
      </header>
  
      <div class="row">
        <div class="col-6 col-sm-8 col-md-6 col-lg-2" style="padding: 15px 7.5px;" *ngFor="let product of filteredProductList">
          <app-product [product]="product"></app-product>
        </div>
      </div>
  
      <div class="row" *ngIf="Loading">
        <div class="col-6 col-sm-8 col-md-6 col-lg-2" *ngFor="let item of items">
          <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '150px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="2" [theme]="{ 'border-radius': '0', height: '25px' }"></ngx-skeleton-loader>
          <div class="d-flex align-items-center justify-content-between">
            <div class="w-50">
              <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '28px' }"></ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader appearance="circle" [theme]="{ width: '29px', height: '29px', margin: '1px' }"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </section>
  