<section class="bg-warning padding-y-sm rounded">
    <div class="container">
        <ol class="breadcrumb ondark mb-0">
            <li class="breadcrumb-item">
                <a routerLink="/products">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/products">Products</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Product
            </li>
        </ol>
    </div>
</section>

<section class="padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4">
                <owl-carousel-o [options]="slider1Settings" #myCarousel>
                    <ng-container *ngFor="let slide of product?.images">
                        <ng-template carouselSlide [id]="slide?.id">
                            <figure class="zoom-image" style="background-image: url({{slide}});"
                                [style.backgroundPosition]="backgroundPos" (mousemove)="ZoomImage($event)">
                                <img class="rounded" src="{{slide}}" alt="clothes"
                                    onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'; imgNotFounded=true">
                            </figure>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <owl-carousel-o id="controll" [options]="slider2Settings" (dragging)="nextSlide($event)"
                    *ngIf="!imgNotFounded">
                    <ng-container *ngFor="let slide of product?.images">
                        <ng-template carouselSlide [id]="slide?.id">
                            <img class="rounded" width="97" src="{{slide}}" alt="clothes"
                                onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </aside>
            <main class="col-lg-6">
                <article class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{product?.title }}
                    </h4>
                    <div class="rating-wrap my-3">
                        <b class="label-rating text-warning">Rating : {{product?.rating}}</b>
                        <i class="dot"></i>
                        <span class="label-rating text-success">In stock : {{product?.stock}}</span>
                    </div> 
                    <div class="mb-3">
                        <span class="price h5">Price : ${{product?.price}}</span>
                    </div>
                    <p>
                        {{product?.description}}
                    </p>
                    <dl class="row">
                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">{{product?.brand}}</dd>
                        <dt class="col-3">Category:</dt>
                        <dd class="col-9">{{product?.category}}</dd>
                        <dt class="col-3">Availability:</dt>
                        <dd class="col-9">{{product?.availabilityStatus}} </dd>
                        <dt class="col-3">Tags</dt>
                        <dd class="col-9">{{product?.tags}}</dd>
                    </dl>
                    <hr>
                    <div class="row mb-4">
                        <div class="col-md-4 col-6 mb-2">
                            <label class="form-label">Size</label>
                            <select class="form-select">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-6 mb-3" *ngIf="productInCartList">
                            <label class="form-label d-block">Quantity</label>
                            <div class="input-group input-spinner">
                                <div class="quantity-selector">
                                    <button type="button" class="btn  btn-quantity"
                                        (click)="updateCartItemQuantity(quantity , product  , '-')"
                                        [disabled]=" quantity == 1">
                                        <span>-</span>
                                    </button>
                                    <div class="quantity-number">{{quantity}}</div>
                                    <button type="button" class="btn btn-quantity"
                                        (click)="updateCartItemQuantity(quantity! , product  , '+')">
                                        <span>+</span>
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <a href="#" class="btn  btn-warning me-2"
                        (click)="$event.preventDefault(); addProductToCart(product)">
                        <i class="me-1 fa fa-shopping-basket"></i>
                        {{productInCartList ? 'Added to cart':'Add to cart'}}
                    </a>
                </article>
            </main>
        </div>
    </div>
</section>
